<%# Copyright (c) 2018 Continental Automotive GmbH
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #   http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
  #%>

<% @repo = @pr.repository %>
<% @row_id = "subrepos/" + @repo.organization+ "/" +@repo.repository %>

<input name="sub_repos[][removeable]" type="hidden" value="<%=@pr.removeable%>">
<input name="sub_repos[][pull_id]" type="hidden" value="<%=@pr.id%>">
<input name="sub_repos[][organization]" type="hidden" value="<%=@repo.organization%>">
<input name="sub_repos[][repository]" type="hidden" value="<%=@repo.repository%>">
<input id="saveAble[]" type="hidden" value="<%=@pr.saveable?%>">

<td class="text-center" id="<%=@row_id%>-pullId-text">
  <% if(@pr.id?) %>
    <a href="<%= pr_url(@repo.organization, @repo.repository, @pr.id) %>">
      # <%= @pr.id %>
    </a>
  <% else %>
    new
  <% end %>
</td>

<td>
  <a href="<%= repo_url(@repo.organization, @repo.repository) %>">
    <%= @repo.name %>
  </a>
</td>
<% if(params[:type].to_i == 1) %>
  <td colspan="3">
     <input type="text" class="form-control" placeholder="Commit hash">
  </td>
  <td class="text-center">
    Hash will be updated
  </td>
<% else %>
  <td>
    <select name="sub_repos[][source_branch]" onchange="UpdateSubRepoRow('<%=@row_id%>')" class="select2" <%= ((@pr.merged? || @pr.closed?) ? "disabled" : "") %>>
      <% if(@pr.merged? || @pr.closed?) %>
        <option><%= @pr.source_branch %></option>
      <% else %>
        <% @repo.branches.each do |branch| %>
          <option <%= (branch[:name] == @pr.source_branch) ? "selected" : "" %>><%= branch[:name] %></option>
        <% end %>
      <% end %>
    </select>
  </td>

  <td class="text-center"> ---> </td>

  <td>
    <select name="sub_repos[][target_branch]"
      onchange="UpdateSubRepoRow('<%=@row_id%>')" class="select2"
      <%= ((@pr.merged? || @pr.closed? ) ? "disabled" : "")%>>
      <% @repo.branches.each do |branch| %>
        <option <%= (branch[:name] == @pr.target_branch) ? "selected" : "" %>><%= branch[:name] %></option>
      <% end %>
    </select>
  </td>

  <td class="text-center" id="<%=@row_id%>-status">
    <span class="text-<%=@pr.status[:color]%>">
      <%=@pr.status[:text]%>
    </span>
  </td>
<% end %>
  <td class="text-right">
    <% if(!@pr.merged? && !@pr.closed? && @pr.removeable?) %>
      <button type="button"
       onclick='$(this).parent().parent().remove();ChangeWasDone();'
       class="btn btn-outline-danger btn-sm">
        <span class="octicon octicon-x"></span> Remove
      </button>
    <% end %>
  </td>
