<%# Copyright (c) 2018 Continental Automotive GmbH
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #   http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
  #%>
<% @row_id = "subrepos/" + child.full_identifier %>
<tr id="<%=@row_id%>">
  <input name="sub_repos[][removeable]" type="hidden" value="<%=child.removeable%>">
  <input name="sub_repos[][pull_id]" type="hidden" value="<%=child.id%>">
  <input name="sub_repos[][organization]" type="hidden" value="<%=child.repository.owner%>">
  <input name="sub_repos[][repository]" type="hidden" value="<%=child.repository.repository%>">
  <input id="saveAble[]" type="hidden" value="<%=child.saveable?%>">
  <td class="text-center align-middle" id="<%=@row_id%>-pullId-text">
    <% if(child.id?) %>
      <a href="<%= pr_url(child.repository.owner, child.repository.repository, child.id) %>">
        # <%= child.id %>
      </a>
    <% else %>
      new
    <% end %>
  </td>
  <td class="align-middle">
    <div>
      <div class="d-flex">
        <% if(!child.repository.forked_repos.empty? || child.from_fork?) %>
          <div>
            <a class="fork-menu" href="<%= repo_url(child.source_repository.owner, child.source_repository.repository) %>">
              <%= child.source_repository.name %>
            </a>

            <div class="fork-menu" style="display:none">
              Select forked Repo:
              <select name="sub_repos[][source_repo_full_name]" data-id="<%=@row_id%>" width="100%" data-live-search="true"
                class="show-selectpicker" <%= ((child.merged? || child.closed?) ? "disabled" : "") %> >
                <% if(child.merged? || child.closed?) %>
                  <option><%= child.source_repository.name %></option>
                <% else %>
                  <option><%= child.repository.name %></option>
                  <optgroup label="Forks:">
                    <% child.repository.forked_repos.each do |fork| %>
                      <option <%= (fork[:full_name] == child.source_repository.name ? "selected" : "") %>>
                        <%= fork[:full_name] %>
                      </option>
                    <% end %>
                  </optgroup>
                <% end %>
              </select>
            </div>

            <div style="font-size:0.75em" class="d-<%=(child.from_fork? ? 'show':'none')%>">
              Target Repo:
              <a href="<%= repo_url(child.repository.owner, child.repository.repository) %>">
                <%= child.repository.name %>
              </a>
            </div>
          </div>
          <div class="ml-2 align-self-center">
            <span data-delay='{ "show": 800 }' style="cursor: pointer" class="octicon octicon-repo-forked open-fork-menu" data-toggle="popover"
                data-content="Create a Pull-Request from a forked repository">
            </span>
          </div>
        <% else %>
          <input name="sub_repos[][source_repo_full_name]" type="hidden" value="<%=child.repository.name%>">
          <a href="<%= repo_url(child.repository.owner, child.repository.repository) %>">
            <%= child.repository.name %>
          </a>
        <% end %>
      </div>

    </div>

  </td>
  <td class="text-right">
    <select name="sub_repos[][source_branch]" data-id="<%=@row_id%>" data-live-search="true"
      class="show-selectpicker " data-width="fit" <%= ((child.merged? || child.closed?) ? "disabled" : "") %>>
      <% if(child.merged? || child.closed?) %>
        <option><%= child.source_branch %></option>
      <% else %>
        <% child.source_repository.branches.each do |branch| %>
          <option <%= (branch[:name] == child.source_branch) ? "selected" : "" %>><%= branch[:name] %></option>
        <% end %>
      <% end %>
    </select>
  </td>
  <td class="text-center" style="width:130px;position:relative;padding:5px;line-height: 120%;" title="<%=child.readable_mergeability%>">
    <sub>(<%=child.config_file%>)</sub>
    <br>
    <input name="sub_repos[][config_file]" type="hidden" value="<%=child.config_file%>">
    <svg height="16" viewBox="0 16 48 32" version="1.1" aria-hidden="true">
      <path fill-rule="evenodd" d="M26 16 L34 30 L0 30 L0 34 L34 34 L26 48 L46 32 Z"></path>
    </svg>
  </td>
  <td class="align-middle">
    <input name="sub_repos[][target_branch]" type="hidden" value="<%=child.target_branch%>">
    <div class="btn-group" role="group">
      <a class="btn btn-light px-4" role="button" href='<%= branch_url(child.repository.organization, child.repository.repository, child.target_branch) %>'>
        <%= child.target_branch %>
      </a>
      <button type="button" class="btn btn-sm btn-light button-checkbox ml-1" data-icon="package"
        data-toggle="popover" data-placement="bottom" data-content="Squash" <%= ((child.merged? || child.closed? || !child.repository.allow_squash_merge || !child.repository.allow_merge_commit) ? "disabled" : "")%>>
        <input type="hidden" value="<%=child.squash%>"name="sub_repos[][squash]" data-form-input="change">
      </button>
    </div>

      <%if(child.id!=0)%>
        <td colspan='2' class="text-center align-middle" data-width="fit">
            <span class="text-<%=child.status[:color]%>" >
             <%=child.status[:text].html_safe%>
          <%=child.status[:checks]&.map { |check| "<br><a href='#{check.target_url}'>#{check.context}</a>" }&.join()&.html_safe %>
            </span>
        </td>
      <%end%>
      <%if(child.id==0)%>
       <td class="text-center align-middle" data-width="fit">
        <% if(child.repository.pr_templates.kind_of?(Array)) %>
       <div>
        <select id="template_selection_sub_repos" name="sub_repos[][body]" data-id="<%=@row_id%>"
            class="show-selectpicker " data-width="fit" title="Select template">
            <option value=''><%="No template"%></option>
            <% child.repository.pr_templates.each do |template| %>
            <option value='<%= template[:body] %>' <%= (template[:body] == child.body) ? "selected" : "" %>><%= template[:filename] %></option>
          <%end %>
        </select>
       </div>
       </td>
        <% end%>
        <td class="text-center align-middle" id="<%=@row_id%>-status">
          <span class="text-<%=child.status[:color]%>" >
            <%=child.status[:text].html_safe%>
          <%=child.status[:checks]&.map { |check| "<br><a href='#{check.target_url}'>#{check.context}</a>" }&.join()&.html_safe %>
          </span>
        </td>
      <%end%>
  </td>
  <td class="text-right align-middle">
    <% if child.removeable? %>
      <button type="button" data-type="remove-btn" class="btn btn-outline-danger btn-sm">
        <span class="octicon octicon-x"></span> Remove
      </button>
    <% end %>
  </td>
</tr>