<%# Copyright (c) 2018 Continental Automotive GmbH
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #   http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
  #%>

<div class='container'>
  <div class='card'>
    <div class='card-header'>
          <a href="/">Home</a>
          <span class="octicon octicon-chevron-right mySeparator"></span>
          <a href="/create/<%= params[:organization]%>"><%= params[:organization]%></a>
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-sm-3'>Organization</div>
        <div class='col-sm'>
          <%= params[:organization]%>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <%= form_tag do %>
        <div class="form-group row">
          <%= label_tag(
            :repository,
            raw('Select the <strong>Meta-Repository</strong>'),
            class: 'col-sm-3 col-form-label') %>
          <div class='col-sm col-form-label'>
            <%= select_tag(:repository, options_for_select(@repos), style: 'width: 100%;', class: 'select2') %>
          </div>
        </div>
        <div class="row">
          <div class='col-sm text-right'>
            <button type='submit' id="continue" class='btn btn-success'>
              Continue <span class='octicon octicon-arrow-right'></span>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= javascript_tag do %>
$(document).ready(function() {
    $('.select2').select2({
      theme: 'bootstrap',
    });

    var $repoSelect = $('#repository');

    if (localStorage.getItem('mm-repo')) {
      $repoSelect.val(localStorage.getItem('mm-repo'));
      $repoSelect.trigger('change');
    }

    $repoSelect.on('change', function() {
      localStorage.setItem('mm-repo', $repoSelect.val());
      this.form.submit()
    });
});

<% end %>
